.commonTabbing {
	.usersListing{
		&.hide{
		  display:none;
		}	
	}
	.usersData{
	display:none;
		&.show{
		  display: block;
		}
	}
	.shortcut {
       padding: 10px 0;
		&.hide{
		 display:none;
		}
    }
	.headerCommon {
      justify-content: space-between;
	  display:none;
	  padding: 10px 0;
	  align-items: center;
		&.show{
		  display: flex;
		}
		.headerTitle{
			h2{
			font-size: 22px;
		    margin: 0;
			}	
		}
		.backBtn{
			text-align: right;
			width: 100%;
		}
	}
	.commonTabs {
		.nav-tabs-primary {
			border-bottom: 1px solid #89699b;
			.nav-link {
				color: #4c4c4c;
				font-size:11px;
				text-align: center;
				letter-spacing: 1px;
				font-weight: 600;
				margin: 0px;
				margin-bottom: 0;
				padding: 12px 14px;
				text-transform: uppercase;
				border: 0px solid transparent;
				border-top-left-radius: .25rem;
				border-top-right-radius: .25rem;
				&.active {
					color: #89699b;
					background-color: transparent;
					border-color: #89699b #89699b #fff;
					border-bottom: 4px solid #89699b;
					@media(max-width:991px){
					  border-bottom:0px solid #89699b;	
					}
				}
				&:hover {
					color: #89699b;
					background-color: transparent;
					border-color: #89699b #89699b #fff;
					border-bottom: 4px solid #89699b;
					@media(max-width:991px){
					  border-bottom:0px solid #89699b;	
					}
				}
			}
		}
		.tab-content {
			margin: 20px 0 0 0;
			.form-group {
				label {
					font-size: 14px;
					display: block;
					font-weight: 500;	
				}
				.tagger{
			        border: 1px solid #ddd;
					font-size: 0.75rem;
					padding: 0.56rem 0.75rem;
					background-color: #f9f9f9;
					border-radius: 0.25rem;
				}
				textarea {
					height: 100px;
					resize: none;
				}
				.thumbImage {
					margin: 0 0 12px 0;
					img {
						max-width: 100%;
					}
				}
				#mybutton {
					overflow: hidden;
					position: relative;
					cursor: pointer;
					width: auto;
					padding: 0px;
					text-align: left;
					border: 1px solid transparent;
					font-weight: bold;
					display: flex;
					align-items: center;
					height: 100%;
					input#myfile {
						height: 30px;
						cursor: pointer;
						position: absolute;
						top: 0px;
						right: 0px;
						font-size: 100px;
						z-index: 2;
						opacity: 0.0;
						filter: alpha(opacity=0);
						-ms-filter: "alpha(opacity=0)";
						-khtml-opacity: 0.0;
						-moz-opacity: 0.0;
					}
					a {
						background-color: #89699b;
						color: #fff;
						padding: 6px 12px;
						border-radius: 4px;
						width: 100%;
						text-align: center;
						&:hover {
							text-decoration: none;
						}
						i {
							padding: 0 8px 0 0;
						}
					}
				}
				.radioBtn {
					display: inline-block;
					label{
					display: inline-block!important;	
					}
				}

			}
		}
	}
}