.floral-builder {
	.floral-category {
		position: relative;
		margin: 15px 0;
		height: 180px;
		overflow: hidden;
		transition: 1s;
			img {
				transition: 1s;
			}
		&:hover {
			img {
				transform: scale(1.2);
				transition: 1s;
			}
		}
			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #fff;
				background-color: rgba(0,0,0,.5);
					p {
						font-size: 22px;
						text-transform: uppercase;
					}
			}
	}
	
		
}