	.header-navbar {
		background: #fff;
		color: #404E67;
		position: fixed;
		z-index: 1028;
		width: 100%;
		padding: 0;
		top: 0;
		box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
		.navbar-wrapper {
			width: 100%;
			.navbar-logo {
				position: relative;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				float: left;
				height: 56px;
				text-align: center;
				text-transform: uppercase;
				width: 260px;
				padding: 10px;
				@media(max-width:767px){
					width:130px;
				}
			}
			.navbar-container {
				.nav-left {
					float: left;
					margin-bottom: 0;
					padding: 0 0px 0 18px;
					display:flex;
					.barIcon {
						display: flex;
						margin: 0 13px 0 0;
						cursor: pointer;
						height: 56px;
						justify-content: center;
						align-items: center;
						span {
							font-size: 21px;
							i {
								color: #9c9fa6;
							}
						}
					}
					.search-field {
						height: 56px;
						display: inline-block;
						span{
						    height: 100%;
							align-items: center;
							display:none;
							font-size: 17px;
							position: relative;
							top: -2px;
							cursor: pointer;
							@media(max-width:640px){
							 display:flex;
							}
						}
						.searchBox{
							 height: 100%;
							 @media(max-width:640px){
								position: absolute;
								background-color: #fff;
								top: 63px;
								height: 45px;
								width: 100%;
								left:100%;
								transition: all 0.5s ease-in;
								 &.show{
									 left:0px;
								 }
						     }
								.input-group {
									.input-group-prepend {
										color: #c9c8c8;
										width: auto;
										border: none;
										.input-group-text {
											background: transparent;
											font-size: 17px;
											margin-right: 0;
											color: #9c9fa6;
											position: relative;
											top: 3px;
										}
									}
									input {
										font-size: 0.875rem;
										padding: .5rem;
									}
								}
					}
				  }
				}
				.nav-right {
					float: right;
					list-style: none;
					margin-bottom: 0;
					padding: 0 12px 0 0px;
					display:flex;
					li {
						float: left;
						line-height: 3.5;
						padding: 0 10px;
						position: relative;
						cursor: pointer;
						height: 56px;
						display: flex;
						align-items: center;
						@media(max-width:640px){
						padding: 0 5px;	
						}
						&.header-notification {
							-webkit-perspective: 1000px;
							perspective: 1000px;
							z-index: 99;
							cursor: pointer;
							.dropdown {
								.dropdown-toggle {
									&:after {
										display: none;
									}
								}
								.show-notification {
									background: #fff;
									-webkit-box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
									box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
									position: absolute;
									-webkit-transition: all 0.3s ease-in-out;
									transition: all 0.3s ease-in-out;
									width: 24rem;
									right: 0px;
									top: 75px;
									left: auto;
									overflow: visible;
									border: none;
									@media(max-width:640px){
										width:250px;
									}
									li {
										line-height: initial;
										padding: 1em 20px;
										width: 100%;
										cursor: pointer;
										-webkit-transition: all 0.5s ease-in-out;
										transition: all 0.5s ease-in-out;
										height: auto;
										img {
											width: 40px;
											margin-right: 10px;
											-ms-flex-item-align: start !important;
											align-self: flex-start !important;
										}
										.media-body {
											.notification-user {
												font-size: 15px;
												font-weight: 600;
												margin-bottom: 5px;
											}
											.notification-msg {
												margin-bottom: 5px;
											}
											.notification-time {
												font-size: 12px;
												color: #919aa3;
											}
										}
										&:first-child {
											padding: 10px 20px;
											h6 {
												display: inline-block;
												font-size: 14px;
												font-weight: 600;
												margin-bottom: 0;
											}
											&:hover {
												background-color: transparent;
											}
										}
										&:hover {
											background-color: #f1f1f1;
										}
									}
									&:after {
										content: "";
										position: absolute;
										top: -10px;
										right: 30px;
										-webkit-transform: rotate(45deg);
										transform: rotate(45deg);
										border: 10px solid #fff;
										border-right-color: transparent;
										border-bottom-color: transparent;
										-webkit-box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1);
										box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1);
									}
								}
							}
						}
						&.user-profile {
							img {
								width: 40px;
								border-radius: 50%;
								@media(max-width:640px){
									width:35px;
								}
							}
							.profile-notification {
								width: 15em!important;
								.user-details {
									border-bottom: 1px solid rgba(66, 59, 116, 0.15);
									padding: 1rem!important;
									.media {
										.avatar {
											img {
												width: 50px;
												height: 50px;
												border-radius: 50%;
											}
										}
										.media-body {
											.user-title {
												font-size: 14px;
												color: #000;
												font-weight: 600;
												margin-bottom: 2px;
											}
											.user-subtitle {
												font-size: 13px;
												color: #585858;
												margin-bottom: 0;
											}
										}
									}
								}
								.dropdown-item {
									padding: .70rem 1.5rem;
									color: #505050;
									border-bottom: 1px solid #eee;
									&:last-child {
										border-bottom: 0px;
									}
								}
							}
						}
					}
				}
			}
		}
	}