.br-sideleft {
	position: fixed;
	left: 0;
	top: 56px;
	z-index: 100;
	width: 260px;
	background-color: #fff;
	transition: all 0.5s ease-in;
	height: 100%;
	padding: 20px 0 0 0;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.13);
	&.show{
		left:-265px;
	}
	@media(max-width:1024px){
	  left:-265px;
		&.show{
		left:0px;
	  }
	}
	.br-sideleft-menu {
		padding: 0px;
		list-style: none;
		li {
			display: block;
			list-style: outside none none;
			margin: 0;
			padding: 0;
			position: relative;
			&.active {
				a{
				 color:#fff;
				background-color: #89699b;
				}
			}
			a {
				text-align: left;
				padding: 8px 15px;
				display: block;
				color: #000;
				font-size: 14px;
				position: relative;
				transition: 0.5s;
				&:hover {
					text-decoration: none;
				}
				.right-angle {
					position: absolute;
					right: 10px;
					top: 50%;
					transform: translateY(-50%);
				}
				.icon {
					margin-right: 10px;
					font-size: 16px;
					width: 23px;
					display: inline-block;
					height: 26px;
					text-align: center;
				}
				
				&:hover {
					background-color: #89699b;
					color: #fff;
				}
				&.has-menu {
					position: relative;
					&:after {
						position: absolute;
						right: 15px;
						top: 50%;
						font-family: FontAwesome;
						content: "\f105";
						transform: translateY(-50%);
					}
				}
			}
			.br-menu-sub {
				padding: 0px 0 0 37px;
				display: none;
				transition: ease in 5s;
				&.show {
					display: block;
				}
				li {
					a {
						text-align: left;
						padding: 8px 15px;
						display: block;
						color: #777;
						font-size: 14px;
						position: relative;
						&:after {
							display: none;
						}
						&:hover {
							background-color: #89699b;
							color: #fff;
						}
						i {
							padding: 0 5px 0 0;
						}
					}
				}
			}
		}
	}
}