/*--dashboard page --*/
.highlight-icon {
	height: 53px;
	width: 53px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	border-radius: 50px;
	i {
		font-size: 27px;
	}
}

img {
	width:100%;
}

.wrapper {
	.card-text {
		font-weight: 400;
		font-size: 0.8rem;
	}
}

.save {
    border: none;
    color: #fff!important;
    background-color: #89699b;
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 3px;
}

/*--product list page --*/

.orderTables {
	.card-title {
		font-size: 20px;
	}
	.btn-group {
		input {}
	}
	.table-responsive {
		.table {
			margin-bottom: 0px;
			thead {
				tr {
					th {
						font-size: .72rem;
						padding-top: .75rem;
						padding-bottom: .75rem;
						letter-spacing: 1px;
						text-transform: uppercase;
						border-bottom: 1px solid rgba(0, 0, 0, 0.15);
						vertical-align: middle;
							.form-group {
								margin-bottom: 0!important;
									.form-control {
										font-size: .72rem;
										padding-top: .75rem;
										padding-bottom: .75rem;
										letter-spacing: 1px;
										text-transform: uppercase;
										font-weight: 600;
									}
							}
					}
				}
			}
			tbody {
				tr {
				cursor: pointer;
					td {
						vertical-align: middle;
						text-transform: capitalize;
						font-size: 14px;

							.edit {
								 ul {
									padding: 0;
									margin: 0;
									list-style: none;
										li {
											display: inline-block;
											padding: 0 5px;
												a {
													color: #000;
													display: flex;
													border-radius: 50%;
													height: 30px;
													width: 30px;
													align-items: center;
													justify-content: center;
													box-shadow: 0 0 2px rgba(0,0,0,.3);
													&:hover {
														text-decoration: none;
														box-shadow: 0 0 3px rgba(0,0,0,.3);
													}
												}
										}
								}
							}
							img {
								width: 40px;
							}
							.offline {
								color: rgb(255, 0, 0);
							}
							span.online {
								color: rgb(0, 255, 0);
							}
														
						.badge-dot {
							i {
								display: inline-block;
								width: .385rem;
								height: .385rem;
								margin-right: .385rem;
								vertical-align: middle;
								border-radius: 50%;
							}
							
						}
						.product-img {
							height: 32px;
						}
						&.td-actions {
							.btn {
								margin: 0;
								padding: 5px;
								line-height: 13px;
								i {
									font-size: 17px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.orderStatus {
	.card-title {
		font-size: 20px;
	}
}

.proListing {
	margin: 20px 0 20px 0;
}

.proPagination {
	.pagination {
		margin-left: auto;
		justify-content: flex-end;
		li {
			a {
				color: #777;
			}
		}
	}
}
.top-widgets {
	.card-statistics {
		min-height: 177px;
			.card-body {
				.icon {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
						span {
							display: flex;
							align-items: center;
							justify-content: center;
							height: 100px;
							width: 100px;
							background-color: #89699b;
							color: #fff;
							border-radius: 50%;	
								.fa {
									font-size: 40px;
								}
						}
				}
				.desc {
					display: flex;
					justify-content: center;
					height: 100%;
					flex-direction: column;
						h4{
							font-size: 20px;
						}
						p {
							font-size: 15px;
						}
				}
				.progress {
					height: 5px!important;
					background-color: rgba(233,236,239,0.18)!important;
					margin: 15px 0;
						.progress-bar {
							background-color: #89699b !important;
						}
				}
			}
	}
}

.shortcut {
		.wrapper {
			text-align: right;
				.btn {
				    clear:both;
				    white-space:nowrap;
				    font-size:.8em;
				    display:inline-block;
				    border-radius:5px;
				    margin-right: 0px;
				    overflow:hidden;
					box-shadow: none;
					padding-right:0px;
					&:focus {
						box-shadow: none;
					}
						i,span {
						    float:left;
						    padding:13px;
						    -webkit-transition:all .5s;
						    -moz-transition:all .5s;
						    transition:all .5s;
						    line-height:1em
						}
						span {
						    padding:14px 18px 16px;
						    white-space:nowrap;
						    color:#FFF;
							border-radius:0 5px 5px 0;
							background: #89699b;
							height: 40px;
						}
						i {
							border-radius: 5px 0 0 5px;
							position: relative;
							width: 40px;
							height: 40px;
							text-align: center;
							font-size: 1.25em;
							color: #89699b;
							background: #fff;
							box-shadow: 0 0 2px rgba(0,0,0,.5);
							&:after {
								content: "";
								border: 8px solid;
								border-color: transparent transparent transparent #fff;
								position: absolute;
								top: 13px;
								right: -15px;
							}
						}
				}
		}
}


.graph-widgets {
	.graph-boxs {
		.card {
			min-height: 440px;
				.card-body {
					img {
					width:100%;
					height: 343px;
							}
					.heading {
						display: flex;
						justify-content: space-between;
						align-items: center;
							
							.ellipsis {
								text-align:right;
									ul {
										list-style: none;
										padding: 0;
										margin: 0;
											li {
												display: inline-block;
												padding: 0 10px;
													a {
														color:#666;
													}
											}
									}
							}
					}
				}
		}
	}
}

.grid {
	.grid-icon {
		display: flex;
		height: 100%;
		align-items: center;
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
					li {
						display: inline-block;
						font-size:24px;
					    margin:0 10px;
							a {
								color: #000;
							}
							&:last-child{
							 margin:0px;
						    }	
					}
			}
	}
}
.has-search .form-control {
	padding-left: 2.375rem;
	border: none;
    border-bottom: 2px solid #f3f3f3;
	border-radius: 0;
    background: none;

}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}

#demo99 {
	position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
    background: #fff;
	margin: 0 15px;
    z-index: 2;

		h5 {
			color: rgba(0,0,0,.8);
			padding: 5px;
			margin: 0;
		}
		ul{
			padding: 5px;
			margin: 0;
			list-style: none;
				li {
					a {
						color: rgba(0,0,0,.5);
					}
					img {
						max-width: 20px;
						margin-right: 8px;
					}
				}
		}
}

select.browser-default.custom-select {
    background: none;
}

.display-none {
	display:none!important;
}

.display-block {
	display:block!important;
}

.grid-view {
	display:none;
	.grid-box {
			position: relative;
			padding: 15px 0;
			cursor: pointer; 
			    z-index: 1;
				.image {
					
					overflow: hidden;
						img {
							width: 100%;
							height: 200px;
							object-fit:cover;
						}
				}
				
				.name {
					position: absolute;
					left: 0;
					top: 30px;
					background: rgba(137, 105, 155,.9);
					color: #fff;
					padding: 5px;
				}
				.grid-desc {
					box-shadow: 0 0 2px rgba(0,0,0,.5);
					padding: 10px;
					.edit {
						 ul {
							padding: 0;
							margin: 0;
							list-style: none;
								li {
									display: inline-block;
									padding: 0 5px;
										a {
											color: #000;
											display: flex;
											border-radius: 50%;
											height: 30px;
											width: 30px;
											align-items: center;
											justify-content: center;
											box-shadow: 0 0 2px rgba(0,0,0,.3);
											&:hover {
												text-decoration: none;
												box-shadow: 0 0 3px rgba(0,0,0,.3);
											}

										}
								}
						}
					}
				}
		}
		
}

.product-descr {
	display:none;
		.nav-link {
			color:#89699b;
			font-weight: 600;
		}
	.nav-tabs .nav-link.active {
		font-weight:bold;
		background-color: transparent;
		border-bottom:3px solid #e4e4e4;
		border-right: none;
		border-left: none;
		border-top: none;
	}
	.form-group {
		position: relative;
		padding: 15px 0;
			label {
				position: absolute;
				left: 10px;
				top: 7px;
				background: #fff;
				font-size: 12px;
				padding: 0 10px;
					
			}
			.form-control {
					font-size: 20px;
					padding: 0px 20px;
					height: 50px;
					background: none;
						&:hover,&:focus {
							border: 1px solid #000;
						}
			}
			.text-area {
				height: auto!important;
				line-height: 30px;
				padding: 15px 20px;
			}
	}
	.product-image {
		padding:15px 0;
		img {
			width:100%;
		}
	}

}

.add-product-detail {
	display:none;
		.nav-link {
			color:#89699b;
			font-weight: 600;
			padding:6px;
		}
	.nav-tabs .nav-link.active {
		font-weight:bold;
		background-color: transparent;
		border-bottom:3px solid #e4e4e4;
		border-right: none;
		border-left: none;
		border-top: none;
	}
	.form-group {
		position: relative;
		padding: 15px 0;
			label {
				position: absolute;
				left: 10px;
				top: 7px;
				background: #fff;
				font-size: 12px;
				padding: 0 10px;
					
			}
			.form-control {
					font-size:14px;
					padding: 5px 20px;
					height: 50px;
					background: none;
					&:hover,&:focus {
						border: 1px solid #000;
					}
			}
			.text-area {
				height: auto!important;
				line-height: 30px;
				padding: 15px 20px;
			}
	}
	.color-choose {
		    width: 15%;
	}
	.product-image {
		padding:15px 0;
		img {
			width:100%;
		}
	}

}

.product-detail-heading {
	display: none;
		a {
			display: flex;
			height: 46px;
			justify-content: center;
			align-items: center;
			color: #89699b;	
			&:hover {
				text-decoration: none;
			}
				.fa {
					font-size: 25px;
				}
		}
		button.save {
			border: none;
			color: #fff;
			background-color: #89699b;
			padding: 10px 25px;
			font-size: 15px;
			border-radius: 3px;
		}
}

.add-product-heading {
	display: none;
		a {
			display: flex;
			height: 46px;
			justify-content: center;
			align-items: center;
			color: #89699b;	
			&:hover {
				text-decoration: none;
			}
				.fa {
					font-size: 25px;
				}
		}
		button.save {
			border: none;
			color: #fff;
			background-color: #89699b;
			padding: 10px 25px;
			font-size: 15px;
			border-radius: 3px;
		}
		.empty-img {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
			background-color: #89699b;
			color: #fff;
			border-radius: 5px;
				.fa {
					font-size: 40px;
				}
		}
}
span.fill-control-description {
    width: 20px;
    height: 20px;
    background-color: aquamarine;
    display: none;
}

.checkBox {
    display: inline-block!important;
	width: 130px;
    height: 80px;
	margin: 0;
}

form fieldset legend {
  font-size: 1.5rem;
}
.black-checkbox {
  background-color: #000;
}

.lime-green-checkbox {
  background-color: #32cd32;
}
.silver-checkbox {
  background-color: #c0c0c0;
}
.blue-checkbox{
  background-color: #0000ff;
}
.maroon-checkbox{
  background-color: #800000;
}
.brown-checkbox{
  background-color: #654321;
}
.khaki-checkbox{
  background-color: #c3b091;
}
.orange-checkbox{
  background-color: #ffa500;
}

.silver-checkbox{
	background-color: #c0c0c0;
}

.gray-checkbox{
	background-color: #808080;
}

.red-checkbox{
	background-color: #ff0000;
}

.yellow-checkbox{
	background-color: #ffff00;
}

.olive-checkbox{
	background-color: #808000;
}

.lime-checkbox{
	background-color: #00ff00;
}

.green-checkbox{
	background-color: #008000;
}

.aqua-checkbox{
	background-color: #00ffff;
}

.honeydew-checkbox{
	background-color: #f0fff0;
}

.azure-checkbox{
	background-color: #f0ffff;
}

.beige-checkbox{
	background-color: #f5f5dc;
}
.ivory-checkbox{
	background-color: #fffff0;
}

.lavenderblush-checkbox{
	background-color: #fff0f5;
}

.darkslategray-checkbox{
	background-color: #2f4f4f;
}

.aliceblue-checkbox{
	background-color:#f0f8ff;
}

.antiquewhite-checkbox{
	background-color: #faebd7;
}

.aquamarine-checkbox{
	background-color: #7fffd4;
}

.bisque-checkbox{
	background-color: #ffe4c4;
}

.blanchedalmond-checkbox{
	background-color: #deb887;
}

.blueviolet-checkbox{
	background-color:#8a2be2 ;
}

.cadetblue-checkbox{
	background-color: #5f9ea0;
}

.chartreuse-checkbox{
	background-color: #7fff00;
}

.fill-control-input{
  display: none;
}
.checkBox .fill-control-input:checked~.fill-control-indicator{
  background-size: 80%;
}
.fill-control-indicator{
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 46px;
  height: 46px;
  transform: translate(-50%,-50%);
  transition: .3s;
  background: transperent;
  background-size: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}


.tagger > ul > li:not(.tagger-new) > a, .tagger li:not(.tagger-new) > span, .tagger .tagger-new ul {
    background: #89699b!important;
    color: #fff!important;
    border: none!important; 
}

.tagger {
    padding: 5px 15px;
		ul {
			li {
				a {
					.close {
						color: #fff!important;
					}
				}
			}
		}
}

.delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.view-client, .client-notes {
	display:none;
}