.header-navbar {
  background: #fff;
  color: #404E67;
  position: fixed;
  z-index: 1028;
  width: 100%;
  padding: 0;
  top: 0;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.13); }
  .header-navbar .navbar-wrapper {
    width: 100%; }
    .header-navbar .navbar-wrapper .navbar-logo {
      position: relative;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      float: left;
      height: 56px;
      text-align: center;
      text-transform: uppercase;
      width: 260px;
      padding: 10px; }
    .header-navbar .navbar-wrapper .navbar-container .nav-left {
      float: left;
      margin-bottom: 0;
      padding: 0 0px 0 18px; }
      .header-navbar .navbar-wrapper .navbar-container .nav-left .barIcon {
        display: inline-block;
        top: 0;
        margin: 0 13px 0 0; }
        .header-navbar .navbar-wrapper .navbar-container .nav-left .barIcon span {
          height: 100%;
          font-size: 21px;
          position: relative;
          top: 3px; }
          .header-navbar .navbar-wrapper .navbar-container .nav-left .barIcon span i {
            color: #9c9fa6; }
      .header-navbar .navbar-wrapper .navbar-container .nav-left .search-field {
        height: 56px;
        display: inline-block; }
        .header-navbar .navbar-wrapper .navbar-container .nav-left .search-field .input-group .input-group-prepend {
          color: #c9c8c8;
          width: auto;
          border: none; }
          .header-navbar .navbar-wrapper .navbar-container .nav-left .search-field .input-group .input-group-prepend .input-group-text {
            background: transparent;
            font-size: 17px;
            margin-right: 0;
            color: #9c9fa6;
            position: relative;
            top: 3px; }
        .header-navbar .navbar-wrapper .navbar-container .nav-left .search-field .input-group input {
          font-size: 0.875rem;
          padding: .5rem; }
    .header-navbar .navbar-wrapper .navbar-container .nav-right {
      float: right;
      list-style: none;
      margin-bottom: 0;
      padding: 0 12px 0 0px; }
      .header-navbar .navbar-wrapper .navbar-container .nav-right li {
        float: left;
        line-height: 3.5;
        padding: 0 10px;
        position: relative; }
        .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification {
          -webkit-perspective: 1000px;
          perspective: 1000px;
          z-index: 99;
          cursor: pointer; }
          .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification .dropdown .dropdown-toggle:after {
            display: none; }
          .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification .dropdown .show-notification {
            background: #fff;
            -webkit-box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 30px 6px rgba(0, 0, 0, 0.1);
            position: absolute;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            width: 24rem;
            right: 0px;
            top: 75px;
            left: auto;
            overflow: visible;
            border: none; }
            .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification .dropdown .show-notification li {
              line-height: initial;
              padding: 1em 20px;
              width: 100%;
              cursor: pointer;
              -webkit-transition: all 0.5s ease-in-out;
              transition: all 0.5s ease-in-out; }
              .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification .dropdown .show-notification li img {
                width: 40px;
                margin-right: 10px;
                -ms-flex-item-align: start !important;
                align-self: flex-start !important; }
              .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification .dropdown .show-notification li .media-body .notification-user {
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 5px; }
              .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification .dropdown .show-notification li .media-body .notification-msg {
                margin-bottom: 5px; }
              .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification .dropdown .show-notification li .media-body .notification-time {
                font-size: 12px;
                color: #919aa3; }
              .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification .dropdown .show-notification li:first-child {
                padding: 10px 20px; }
                .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification .dropdown .show-notification li:first-child h6 {
                  display: inline-block;
                  font-size: 14px;
                  font-weight: 600;
                  margin-bottom: 0; }
                .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification .dropdown .show-notification li:first-child:hover {
                  background-color: transparent; }
              .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification .dropdown .show-notification li:hover {
                background-color: #f1f1f1; }
            .header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification .dropdown .show-notification:after {
              content: "";
              position: absolute;
              top: -10px;
              right: 30px;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              border: 10px solid #fff;
              border-right-color: transparent;
              border-bottom-color: transparent;
              -webkit-box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1);
              box-shadow: -10px -9px 23px 1px rgba(0, 0, 0, 0.1); }
        .header-navbar .navbar-wrapper .navbar-container .nav-right li.user-profile img {
          width: 40px;
          border-radius: 50%; }
        .header-navbar .navbar-wrapper .navbar-container .nav-right li.user-profile .profile-notification {
          width: 15em !important; }
          .header-navbar .navbar-wrapper .navbar-container .nav-right li.user-profile .profile-notification .user-details {
            border-bottom: 1px solid rgba(66, 59, 116, 0.15);
            padding: 1rem !important; }
            .header-navbar .navbar-wrapper .navbar-container .nav-right li.user-profile .profile-notification .user-details .media .avatar img {
              width: 50px;
              height: 50px;
              border-radius: 50%; }
            .header-navbar .navbar-wrapper .navbar-container .nav-right li.user-profile .profile-notification .user-details .media .media-body .user-title {
              font-size: 14px;
              color: #000;
              font-weight: 600;
              margin-bottom: 2px; }
            .header-navbar .navbar-wrapper .navbar-container .nav-right li.user-profile .profile-notification .user-details .media .media-body .user-subtitle {
              font-size: 13px;
              color: #585858;
              margin-bottom: 0; }
          .header-navbar .navbar-wrapper .navbar-container .nav-right li.user-profile .profile-notification .dropdown-item {
            padding: .70rem 1.5rem;
            color: #505050;
            border-bottom: 1px solid #eee; }
            .header-navbar .navbar-wrapper .navbar-container .nav-right li.user-profile .profile-notification .dropdown-item:last-child {
              border-bottom: 0px; }
