/*--dashboard page --*/
.highlight-icon {
  height: 53px;
  width: 53px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 50px; }
  .highlight-icon i {
    font-size: 27px; }

.wrapper .card-text {
  font-weight: 400;
  font-size: 0.8rem; }

/*--product list page --*/
.orderTables .card-title {
  font-size: 20px; }

.orderTables .table-responsive .table {
  margin-bottom: 0px; }
  .orderTables .table-responsive .table thead tr th {
    font-size: .72rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    vertical-align: middle; }
  .orderTables .table-responsive .table tbody tr td {
    vertical-align: middle;
    text-transform: capitalize;
    font-size: 14px; }
    .orderTables .table-responsive .table tbody tr td .badge-dot i {
      display: inline-block;
      width: .385rem;
      height: .385rem;
      margin-right: .385rem;
      vertical-align: middle;
      border-radius: 50%; }
    .orderTables .table-responsive .table tbody tr td .product-img {
      height: 32px; }
    .orderTables .table-responsive .table tbody tr td.td-actions .btn {
      margin: 0;
      padding: 5px;
      line-height: 13px; }
      .orderTables .table-responsive .table tbody tr td.td-actions .btn i {
        font-size: 17px; }

.orderStatus .card-title {
  font-size: 20px; }

.orderStatus .orderImage img {
  width: 100%; }

.proListing {
  margin: 0 0 20px 0; }

.proPagination .pagination {
  margin-left: auto;
  justify-content: flex-end; }
  .proPagination .pagination li a {
    color: #777; }
