.floral-builder .floral-category {
  position: relative;
  margin: 15px 0;
  height: 180px;
  overflow: hidden;
  transition: 1s; }
  .floral-builder .floral-category img {
    transition: 1s; }
  .floral-builder .floral-category:hover img {
    transform: scale(1.2);
    transition: 1s; }
  .floral-builder .floral-category .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); }
    .floral-builder .floral-category .overlay p {
      font-size: 22px;
      text-transform: uppercase; }
