.commonTabbing .usersListing.hide {
  display: none; }

.commonTabbing .usersData {
  display: none; }
  .commonTabbing .usersData.show {
    display: block; }

.commonTabbing .shortcut {
  padding: 10px 0; }
  .commonTabbing .shortcut.hide {
    display: none; }

.commonTabbing .headerCommon {
  justify-content: space-between;
  display: none;
  padding: 10px 0;
  align-items: center; }
  .commonTabbing .headerCommon.show {
    display: flex; }
  .commonTabbing .headerCommon .headerTitle h2 {
    font-size: 22px;
    margin: 0; }
  .commonTabbing .headerCommon .backBtn {
    text-align: right;
    width: 100%; }

.commonTabbing .commonTabs .nav-tabs-primary {
  border-bottom: 1px solid #89699b; }
  .commonTabbing .commonTabs .nav-tabs-primary .nav-link {
    color: #4c4c4c;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0px;
    margin-bottom: 0;
    padding: 12px 14px;
    text-transform: uppercase;
    border: 0px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem; }
    .commonTabbing .commonTabs .nav-tabs-primary .nav-link.active {
      color: #89699b;
      background-color: transparent;
      border-color: #89699b #89699b #fff;
      border-bottom: 4px solid #89699b; }
      @media (max-width: 991px) {
        .commonTabbing .commonTabs .nav-tabs-primary .nav-link.active {
          border-bottom: 0px solid #89699b; } }
    .commonTabbing .commonTabs .nav-tabs-primary .nav-link:hover {
      color: #89699b;
      background-color: transparent;
      border-color: #89699b #89699b #fff;
      border-bottom: 4px solid #89699b; }
      @media (max-width: 991px) {
        .commonTabbing .commonTabs .nav-tabs-primary .nav-link:hover {
          border-bottom: 0px solid #89699b; } }

.commonTabbing .commonTabs .tab-content {
  margin: 20px 0 0 0; }
  .commonTabbing .commonTabs .tab-content .form-group label {
    font-size: 14px;
    display: block;
    font-weight: 500; }
  .commonTabbing .commonTabs .tab-content .form-group .tagger {
    border: 1px solid #ddd;
    font-size: 0.75rem;
    padding: 0.56rem 0.75rem;
    background-color: #f9f9f9;
    border-radius: 0.25rem; }
  .commonTabbing .commonTabs .tab-content .form-group textarea {
    height: 100px;
    resize: none; }
  .commonTabbing .commonTabs .tab-content .form-group .thumbImage {
    margin: 0 0 12px 0; }
    .commonTabbing .commonTabs .tab-content .form-group .thumbImage img {
      max-width: 100%; }
  .commonTabbing .commonTabs .tab-content .form-group #mybutton {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    width: auto;
    padding: 0px;
    text-align: left;
    border: 1px solid transparent;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100%; }
    .commonTabbing .commonTabs .tab-content .form-group #mybutton input#myfile {
      height: 30px;
      cursor: pointer;
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 100px;
      z-index: 2;
      opacity: 0.0;
      filter: alpha(opacity=0);
      -ms-filter: "alpha(opacity=0)";
      -khtml-opacity: 0.0;
      -moz-opacity: 0.0; }
    .commonTabbing .commonTabs .tab-content .form-group #mybutton a {
      background-color: #89699b;
      color: #fff;
      padding: 6px 12px;
      border-radius: 4px;
      width: 100%;
      text-align: center; }
      .commonTabbing .commonTabs .tab-content .form-group #mybutton a:hover {
        text-decoration: none; }
      .commonTabbing .commonTabs .tab-content .form-group #mybutton a i {
        padding: 0 8px 0 0; }
  .commonTabbing .commonTabs .tab-content .form-group .radioBtn {
    display: inline-block; }
    .commonTabbing .commonTabs .tab-content .form-group .radioBtn label {
      display: inline-block !important; }
