.br-sideleft {
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 100;
  width: 260px;
  background-color: #fff;
  transition: all 0.5s ease-in;
  height: 100%;
  padding: 20px 0 0 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.13); }
  .br-sideleft.show {
    left: -265px; }
  @media (max-width: 1024px) {
    .br-sideleft {
      left: -265px; }
      .br-sideleft.show {
        left: 0px; } }
  .br-sideleft .br-sideleft-menu {
    padding: 0px;
    list-style: none; }
    .br-sideleft .br-sideleft-menu li {
      display: block;
      list-style: outside none none;
      margin: 0;
      padding: 0;
      position: relative; }
      .br-sideleft .br-sideleft-menu li.active a {
        color: #fff;
        background-color: #89699b; }
      .br-sideleft .br-sideleft-menu li a {
        text-align: left;
        padding: 8px 15px;
        display: block;
        color: #000;
        font-size: 14px;
        position: relative;
        transition: 0.5s; }
        .br-sideleft .br-sideleft-menu li a:hover {
          text-decoration: none; }
        .br-sideleft .br-sideleft-menu li a .right-angle {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%); }
        .br-sideleft .br-sideleft-menu li a .icon {
          margin-right: 10px;
          font-size: 16px;
          width: 23px;
          display: inline-block;
          height: 26px;
          text-align: center; }
        .br-sideleft .br-sideleft-menu li a:hover {
          background-color: #89699b;
          color: #fff; }
        .br-sideleft .br-sideleft-menu li a.has-menu {
          position: relative; }
          .br-sideleft .br-sideleft-menu li a.has-menu:after {
            position: absolute;
            right: 15px;
            top: 50%;
            font-family: FontAwesome;
            content: "\f105";
            transform: translateY(-50%); }
      .br-sideleft .br-sideleft-menu li .br-menu-sub {
        padding: 0px 0 0 37px;
        display: none;
        transition: ease in 5s; }
        .br-sideleft .br-sideleft-menu li .br-menu-sub.show {
          display: block; }
        .br-sideleft .br-sideleft-menu li .br-menu-sub li a {
          text-align: left;
          padding: 8px 15px;
          display: block;
          color: #777;
          font-size: 14px;
          position: relative; }
          .br-sideleft .br-sideleft-menu li .br-menu-sub li a:after {
            display: none; }
          .br-sideleft .br-sideleft-menu li .br-menu-sub li a:hover {
            background-color: #89699b;
            color: #fff; }
          .br-sideleft .br-sideleft-menu li .br-menu-sub li a i {
            padding: 0 5px 0 0; }
