/* Materializecss Stepper - By Kinark 2016
// https://github.com/Kinark/Materialize-stepper
// CSS v2.1.3
*/
/*Validate.js FIX*/
label.invalid {
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 500;
  color: red !important;
  top: 50px !important; }
  label.invalid.active {
    -webkit-transform: translateY(0%) !important;
    -ms-transform: translateY(0%) !important;
    transform: translateY(0%) !important; }

/*Validate.js FIX*/
ul.stepper .wait-feedback {
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

ul.stepper .step {
  position: relative;
  list-style: none; }
  ul.stepper .step.feedbacking .step-new-content > *:not(.wait-feedback) {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; }
  ul.stepper .step:not(:last-of-type).active {
    margin-bottom: 2.25rem; }
  ul.stepper .step:before {
    position: absolute;
    top:0;
	font-family: FontAwesome;
    content: "\f061";
    height: 1.75rem;
    width: 1.75rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    line-height: 1.75rem;
    font-weight: 400; }
  ul.stepper .step.active:before {
    background-color: #89699b; }
  ul.stepper .step.done:before {
    content: '\f00c';
    font-family: FontAwesome;
    font-size: 1rem;
    background-color: #00c851; }
  ul.stepper .step.wrong:before {
    content: '\f071';
    font-family: FontAwesome;
    font-size: 1.1rem;
    background-color: #ff3547; }

ul.stepper > li:not(:last-of-type) {
  margin-bottom: 1.625rem;
  -webkit-transition: margin-bottom 0.4s;
  -o-transition: margin-bottom 0.4s;
  transition: margin-bottom 0.4s; }

ul.stepper .step-title {
  margin: 0 -1.3rem;
  cursor: pointer;
  padding: 0.9688rem 2.75rem 1.5rem 4rem;
  display: block; }
  ul.stepper .step-title:after {
    content: attr(data-step-label);
    display: block;
    position: absolute;
    font-size: 0.8rem;
    color: #424242;
    font-weight: 400; }
  ul.stepper .step-title:hover {
    background-color: rgba(0, 0, 0, 0.06); }

ul.stepper .step.active .step-title {
  font-weight: 500; }

ul.stepper .step-new-content {
  position: relative;
  display: none;
  height: -webkit-calc(100% - 132px);
  height: calc(100% - 132px);
  width: inherit;
  overflow: visible;
  margin-left: 41px;
  margin-right: 24px; 
  margin-top:20px;
}

ul.stepper > .step:not(:last-of-type):after {
  content: '';
  position: absolute;
  top: 2.125rem;
  left: 0.8438rem;
  width: 0.0625rem;
  height: 40%;
  height: -webkit-calc(100% - 38px);
  height: calc(100% - 38px);
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

ul.stepper > .step.active:not(:last-child):after {
  height: 93%;
  height: -webkit-calc(100% - 12px);
  height: calc(100% - 12px); }

ul.stepper > .step[data-last="true"] {
  margin-bottom: 0; }
  ul.stepper > .step[data-last="true"]:after {
    height: 0;
    width: 0; }

ul.stepper .step-actions {
  display: -webkit-box;
  -webkit-box-pack: start; }
  ul.stepper .step-actions .btn:not(:last-child),
  ul.stepper .step-actions .btn-flat:not(:last-child),
  ul.stepper .step-actions .btn-large:not(:last-child) {
    margin-right: 0.3125rem; }

ul.stepper .step-new-content .row {
  margin-bottom: 0.4375rem; }

ul.stepper .md-form label {
  left: 0.875rem; }

ul.stepper .md-form .validate {
  margin-bottom: 0; }

@media only screen and (min-width: 993px) {
   ul.stepper.horizontal {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 20rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow: hidden; }
     ul.stepper.horizontal:before {
      content: '';
      background-color: transparent;
      width: 100%;
      min-height: 5.25rem;
      position: absolute;
      left: -3px;
      -webkit-border-top-left-radius: 2px;
      border-top-left-radius: 2px; }
     ul.stepper.horizontal:first-child {
      margin-top: -2.7rem; }
     ul.stepper.horizontal .step {
      position: static;
      margin: 0;
      width: 100%;
      display: -ms-flexbox;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 5.25rem !important;
	  padding-left: 16px;
	}
	ul.stepper.horizontal .step:first-child {
    padding-left: 0;
}
       ul.stepper.horizontal .step:not(:last-of-type):after {
        content: '';
        position: static;
        display: inline-block;
        width: 100%;
        height: 0.0625rem; }
     ul.stepper.horizontal > .step:last-of-type,  ul.stepper.horizontal > .step[data-last="true"] {
      width: auto !important; }
     ul.stepper.horizontal > .step.active:not(:last-of-type):after {
      content: '';
      position: static;
      display: inline-block;
      width: 100%;
      height: 0.0625rem; }
     ul.stepper.horizontal .step.active .step-title:before {
      background-color: #89699b; }
     ul.stepper.horizontal .step.done .step-title:before {
      content: '\f00c';
      font-family: FontAwesome;
      font-size: 1rem;
      background: #00c851; }
     ul.stepper.horizontal .step.wrong .step-title:before {
      content: '\f071';
      font-family: FontAwesome;
      font-size: 1.1rem;
      background-color: #ff3547; }
     ul.stepper.horizontal .step-title {
      line-height: 3.25rem;
      height: 3.25rem;
      margin: 0;
      padding: 0 1.5625rem 0 4.0625rem;
      display: inline-block;
      max-width: 13.75rem;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      -ms-flex-negative: 0;
      -webkit-flex-shrink: 0;
      flex-shrink: 0; }
     ul.stepper.horizontal .step:before {
      content: none; }
     ul.stepper.horizontal .step .step-title:before {
      position: absolute;
      top: 0.7813rem;
      left: 0;
      counter-increment: section;
	  font-family: FontAwesome;
      content: "\f061";
      height: 1.75rem;
      width: 1.75rem;
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 100%;
      border-radius: 100%;
      text-align: center;
      line-height: 1.75rem;
      font-weight: 400; }
     ul.stepper.horizontal .step-title:after {
      top: 0.9375rem; }
     ul.stepper.horizontal .step-new-content {
      position: absolute;
      height: -webkit-calc(100% - 84px);
      height: calc(100% - 84px);
      top: 6rem;
      left: 0;
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      margin: 0;
      padding: 1.25rem 1.25rem 4.75rem 1.25rem; }
     ul.stepper.horizontal .step-actions {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
       ul.stepper.horizontal .step-actions .btn:not(:last-child),
       ul.stepper.horizontal .step-actions .btn-flat:not(:last-child),
       ul.stepper.horizontal .step-actions .btn-large:not(:last-child) {
        margin-left: 0.3125rem;
        margin-right: 0; }
   ul.stepper.horizontal .step-new-content,
   ul.stepper.horizontal .step-actions {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }