/*--dashboard page --*/
.highlight-icon {
  height: 53px;
  width: 53px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 50px; }
  .highlight-icon i {
    font-size: 27px; }

img {
  width: 100%; }

.wrapper .card-text {
  font-weight: 400;
  font-size: 0.8rem; }

.save {
  border: none;
  color: #fff !important;
  background-color: #89699b;
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 3px; }

.order-apply {
  padding: .49rem 1rem; }

/*--product list page --*/
.orderStatus .card-title {
  font-size: 20px; }

.searchListingCol {
  display: flex; }
  @media (max-width: 1250px) {
    .searchListingCol {
      display: block; } }
  @media (max-width: 1250px) {
    .searchListingCol .proListing {
      margin: 10px 0 0 0; } }
  .searchListingCol .proListing:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    left: -13px;
    background-color: #89699b;
    top: -5px; }
    @media (max-width: 1250px) {
      .searchListingCol .proListing:before {
        display: none; } }
  .searchListingCol .btn-outline-primary {
    border-radius: 50px !important;
    margin-left: 6px; }

.proListing {
  margin: 8px 0 0 30px;
  position: relative; }
  .proListing .order-bar {
    padding: 0; }
    .proListing .order-bar li {
      display: inline-block;
      position: relative;
      padding: 0 10px 0 0; }
      .proListing .order-bar li:before {
        content: "|";
        position: absolute;
        right: 0;
        top: 0;
        color: #000; }
      .proListing .order-bar li:last-child:before {
        display: none; }
      .proListing .order-bar li a {
        color: #89699b;
        font-weight: 600; }
        .proListing .order-bar li a:hover {
          text-decoration: none;
          color: #000; }
        .proListing .order-bar li a span {
          color: rgba(0, 0, 0, 0.5); }

.top-widgets .card-statistics {
  min-height: 177px; }
  .top-widgets .card-statistics .card-body .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .top-widgets .card-statistics .card-body .icon span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      width: 100px;
      background-color: #89699b;
      color: #fff;
      border-radius: 50%; }
      .top-widgets .card-statistics .card-body .icon span .fa {
        font-size: 40px; }
  .top-widgets .card-statistics .card-body .desc {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column; }
    .top-widgets .card-statistics .card-body .desc h4 {
      font-size: 20px; }
    .top-widgets .card-statistics .card-body .desc p {
      font-size: 15px; }
  .top-widgets .card-statistics .card-body .progress {
    height: 5px !important;
    background-color: rgba(233, 236, 239, 0.18) !important;
    margin: 15px 0; }
    .top-widgets .card-statistics .card-body .progress .progress-bar {
      background-color: #89699b !important; }

.graph-widgets .graph-boxs .card {
  min-height: 440px; }
  .graph-widgets .graph-boxs .card .card-body img {
    width: 100%;
    height: 343px; }
  .graph-widgets .graph-boxs .card .card-body .heading {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .graph-widgets .graph-boxs .card .card-body .heading .ellipsis {
      text-align: right; }
      .graph-widgets .graph-boxs .card .card-body .heading .ellipsis ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .graph-widgets .graph-boxs .card .card-body .heading .ellipsis ul li {
          display: inline-block;
          padding: 0 10px; }
          .graph-widgets .graph-boxs .card .card-body .heading .ellipsis ul li a {
            color: #666; }

.grid .grid-icon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start; }
  .grid .grid-icon ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; }
    .grid .grid-icon ul li {
      display: inline-block;
      padding-right: 15px; }
      .grid .grid-icon ul li a {
        color: #000; }
        .grid .grid-icon ul li a .fa {
          font-size: 30px;
          color: #89699b; }

.has-search .form-control {
  padding-left: 2.375rem;
  border: none;
  border-bottom: 2px solid #f3f3f3;
  border-radius: 0;
  background: none; }

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa; }

#demo99 {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 2px;
  background: #fff;
  margin: 0 15px;
  z-index: 2; }
  #demo99 h5 {
    color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    margin: 0; }
  #demo99 ul {
    padding: 5px;
    margin: 0;
    list-style: none; }
    #demo99 ul li a {
      color: rgba(0, 0, 0, 0.5); }
    #demo99 ul li img {
      max-width: 20px;
      margin-right: 8px; }

select.browser-default.custom-select {
  background: none; }

.display-none {
  display: none !important; }

.display-block {
  display: block !important; }

.grid-view {
  display: none; }
  .grid-view .grid-box {
    padding: 15px 0;
    cursor: pointer;
    z-index: 1; }
    .grid-view .grid-box .image {
      position: relative;
      max-height: 160px;
      overflow: hidden; }
      .grid-view .grid-box .image img {
        width: 100%; }
      .grid-view .grid-box .image .name {
        position: absolute;
        left: 0;
        top: 30px;
        background: rgba(137, 105, 155, 0.9);
        color: #fff;
        padding: 5px; }
    .grid-view .grid-box .grid-desc {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
      padding: 15px; }

.edit ul {
  padding: 0;
  margin: 0;
  list-style: none; }
  .edit ul li {
    display: inline-block;
    padding: 0 5px; }
    .edit ul li a {
      color: #000;
      display: flex;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
      .edit ul li a:hover {
        text-decoration: none;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

.product-descr {
  display: none; }
  .product-descr .nav-tabs .nav-link {
    padding: 15px 0 !important;
    color: #000;
    font-weight: 600;
    border-bottom: 3px solid transparent; }
    .product-descr .nav-tabs .nav-link:hover {
      border-bottom: 3px solid #89699b;
      border-right: none;
      border-left: none;
      border-top: none; }
  .product-descr .nav-tabs .nav-link.active {
    font-weight: bold;
    background-color: transparent;
    border-bottom: 3px solid #89699b;
    border-right: none;
    border-left: none;
    border-top: none;
    color: #89699b; }
  .product-descr .form-group {
    position: relative;
    padding: 15px 0; }
    .product-descr .form-group label {
      position: absolute;
      left: 10px;
      top: 7px;
      background: #fff;
      font-size: 12px;
      padding: 0 10px; }
    .product-descr .form-group .form-control {
      font-size: 20px;
      padding: 0px 20px;
      height: 50px;
      background: none; }
      .product-descr .form-group .form-control:hover, .product-descr .form-group .form-control:focus {
        border: 1px solid #000; }
    .product-descr .form-group .text-area {
      height: auto !important;
      line-height: 30px;
      padding: 15px 20px; }
  .product-descr .product-image {
    padding: 15px 0; }
    .product-descr .product-image img {
      width: 100%; }

.add-product-detail .nav-tabs .nav-link {
  color: #000;
  font-weight: 600;
  border-bottom: 3px solid transparent;
  padding: 15px 0; }
  .add-product-detail .nav-tabs .nav-link:hover {
    border-bottom: 3px solid #89699b;
    border-right: none;
    border-left: none;
    border-top: none; }

.add-product-detail .nav-tabs .nav-link.active {
  font-weight: bold;
  background-color: transparent;
  border-bottom: 3px solid #89699b;
  border-right: none;
  border-left: none;
  border-top: none;
  color: #89699b; }

.add-product-detail .color-choose {
  width: 15%; }

.add-product-detail .product-image {
  padding: 15px 0; }
  .add-product-detail .product-image img {
    width: 100%; }

.product-detail-heading {
  display: none; }
  .product-detail-heading a {
    display: flex;
    height: 46px;
    justify-content: center;
    align-items: center;
    color: #89699b; }
    .product-detail-heading a:hover {
      text-decoration: none; }
    .product-detail-heading a .fa {
      font-size: 25px; }
  .product-detail-heading button.save {
    border: none;
    color: #fff;
    background-color: #89699b;
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 3px; }

.add-ons-table tbody tr td {
  padding: 8px; }
  .add-ons-table tbody tr td .form-group {
    margin: 0px; }
  .add-ons-table tbody tr td .delete-btn {
    display: flex;
    align-items: center;
    justify-content: center; }

.add-product-heading {
  display: none; }
  .add-product-heading a {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    color: #89699b; }
    .add-product-heading a:hover {
      text-decoration: none; }
    .add-product-heading a .fa {
      font-size: 25px; }
  .add-product-heading button.save {
    border: none;
    color: #fff;
    background-color: #89699b;
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 3px; }
  .add-product-heading .empty-img {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #89699b;
    color: #fff;
    border-radius: 5px; }
    .add-product-heading .empty-img .fa {
      font-size: 40px; }

span.fill-control-description {
  width: 20px;
  height: 20px;
  background-color: aquamarine;
  display: none; }

.checkBox {
  display: inline-block !important;
  width: 130px;
  height: 80px;
  margin: 0; }

form fieldset legend {
  font-size: 1.5rem; }

.black-checkbox {
  background-color: #000; }

.lime-green-checkbox {
  background-color: #32cd32; }

.silver-checkbox {
  background-color: #c0c0c0; }

.blue-checkbox {
  background-color: #0000ff; }

.maroon-checkbox {
  background-color: #800000; }

.brown-checkbox {
  background-color: #654321; }

.khaki-checkbox {
  background-color: #c3b091; }

.orange-checkbox {
  background-color: #ffa500; }

.silver-checkbox {
  background-color: #c0c0c0; }

.gray-checkbox {
  background-color: #808080; }

.red-checkbox {
  background-color: #ff0000; }

.yellow-checkbox {
  background-color: #ffff00; }

.olive-checkbox {
  background-color: #808000; }

.lime-checkbox {
  background-color: #00ff00; }

.green-checkbox {
  background-color: #008000; }

.aqua-checkbox {
  background-color: #00ffff; }

.honeydew-checkbox {
  background-color: #f0fff0; }

.azure-checkbox {
  background-color: #f0ffff; }

.beige-checkbox {
  background-color: #f5f5dc; }

.ivory-checkbox {
  background-color: #fffff0; }

.lavenderblush-checkbox {
  background-color: #fff0f5; }

.darkslategray-checkbox {
  background-color: #2f4f4f; }

.aliceblue-checkbox {
  background-color: #f0f8ff; }

.antiquewhite-checkbox {
  background-color: #faebd7; }

.aquamarine-checkbox {
  background-color: #7fffd4; }

.bisque-checkbox {
  background-color: #ffe4c4; }

.blanchedalmond-checkbox {
  background-color: #deb887; }

.blueviolet-checkbox {
  background-color: #8a2be2; }

.cadetblue-checkbox {
  background-color: #5f9ea0; }

.chartreuse-checkbox {
  background-color: #7fff00; }

.fill-control-input {
  display: none; }

.checkBox .fill-control-input:checked ~ .fill-control-indicator {
  background-size: 80%; }

.fill-control-indicator {
  border-radius: 3px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 46px;
  height: 46px;
  transform: translate(-50%, -50%);
  transition: .3s;
  background: transperent;
  background-size: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"); }

.tagger > ul > li:not(.tagger-new) > a, .tagger li:not(.tagger-new) > span, .tagger .tagger-new ul {
  background: #89699b !important;
  color: #fff !important;
  border: none !important; }

.tagger {
  padding: 5px 15px; }
  .tagger ul li a .close {
    color: #fff !important; }

.view-client, .client-notes {
  display: none; }

.box {
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  margin: 0 0 15px 0; }
  .box .upload-options {
    position: relative;
    height: 52px;
    background-color: #89698b;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: background-color ease-in-out 150ms; }
    .box .upload-options:hover {
      background-color: #000; }
    .box .upload-options input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .box .upload-options label {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      overflow: hidden; }
      .box .upload-options label::after {
        content: 'add';
        font-family: 'Material Icons';
        position: absolute;
        font-size: 30px;
        color: #e6e6e6;
        left: calc(50% - 1.25rem);
        z-index: 0; }
      .box .upload-options label span {
        display: inline-block;
        width: 50%;
        height: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        text-align: center; }
        .box .upload-options label span:hover i.material-icons {
          color: lightgray; }
  .box .js--image-preview {
    height: 140px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url("");
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    .box .js--image-preview::after {
      content: "photo_size_select_actual";
      font-family: 'Material Icons';
      position: absolute;
      font-size: 50px;
      color: #e6e6e6;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .box i.material-icons {
    transition: color 100ms ease-in-out;
    font-size: 2.25em;
    line-height: 55px;
    color: white;
    display: block; }
  .box .drop {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    transform: scale(0); }
  .box .animate {
    animation: ripple 0.4s linear; }

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }

.invoice-table tbody tr td .status {
  color: #fff;
  padding: 2px 4px;
  border-radius: 3px; }

.invoice-table tbody tr td .paid {
  background-color: #008000; }

.invoice-table tbody tr td .partial {
  background-color: #3f51b5; }

.invoice-table tbody tr td .sent {
  background-color: #03a9f4; }

.invoice-table tbody tr td .draft {
  background-color: #9e9e9e; }

.advance-search .form-group .form-control {
  height: 35px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #e4e4e4;
  padding-left: 30px; }
  .advance-search .form-group .form-control:hover, .advance-search .form-group .form-control:focus {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000; }

.advance-search .form-group .search-btn {
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%); }

.advance-search .filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  position: relative; }
  .advance-search .filter a {
    color: #000;
    font-size: 30px; }
    .advance-search .filter a:focus + .dropDown {
      display: block; }
  .advance-search .filter .dropDown {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 100px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 0 10px 10px;
    z-index: 99; }
    .advance-search .filter .dropDown ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .advance-search .filter .dropDown ul li {
        border-bottom: 1px solid #000; }
        .advance-search .filter .dropDown ul li a {
          font-size: 15px;
          color: #89699b; }
          .advance-search .filter .dropDown ul li a:hover {
            text-decoration: none;
            color: #000; }

.custom-pagination {
  justify-content: flex-end; }
  .custom-pagination li .page-link {
    color: #89699b;
    background-color: #fff;
    border: 1px solid #89699b;
    font-weight: 600; }
    .custom-pagination li .page-link:hover {
      color: #FFF;
      background-color: #89699b;
      border-color: #89699b; }

.search-input {
  position: relative; }
  .search-input input {
    padding-left: 25px !important; }
  .search-input span {
    position: absolute;
    top: 5px;
    left: 5px; }

.action-btn ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .action-btn ul li {
    display: inline-block;
    padding-right: 10px; }
    .action-btn ul li:last-child {
      padding-right: 0; }
    .action-btn ul li .edit {
      color: green; }
    .action-btn ul li .copy {
      color: blue; }
    .action-btn ul li .close {
      color: red; }

/*----*/
.pagesList {
  color: rgba(0, 0, 0, 0.6); }

.smallLetter {
  text-transform: lowercase !important; }

.tagCol {
  background-color: #7f8bae;
  padding: 4px 10px;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 12px; }

.hidden {
  display: none !important; }

.tpActionBtn {
  text-align: right; }
  .tpActionBtn .shortcut .wrapper .add-product {
    border: none; }
  @media (max-width: 991px) {
    .tpActionBtn {
      margin-top: 10px;
      text-align: left; } }
  .tpActionBtn a {
    color: #fff;
    padding: 5px 10px;
    background-color: #89699b;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase; }
    .tpActionBtn a:hover {
      background-color: #404040; }

.commonWidth {
  min-width: 110px;
  text-transform: uppercase;
  font-size: 14px; }

.add-product-detail .addContactFields {
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 30px; }
  .add-product-detail .addContactFields .userImage {
    width: 110px;
    background-color: #eee;
    padding: 5px;
    border-radius: 3px;
    overflow: hidden; }
  .add-product-detail .addContactFields .plusIcon {
    margin-top: 12px; }
    .add-product-detail .addContactFields .plusIcon i {
      font-size: 30px;
      color: #89699b;
      right: 10px;
      position: relative; }
